
header{
	background:url("img/bgheader.jpg") ;
	height: 659px;
	background-repeat: no-repeat;
	background-size: cover;
}
body{
	font-family: 'Montserrat', sans-serif;
}
ul{
	width: 100%;
	height: 40px;
	display: block;
}
.fa-home:before {
    content: "\f015"
}
.boton{
	display: inline-block;
	text-align:left;
	float: left;
	margin-right: 26px;
}
.boton a{
	padding: 10px 0;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #fff;
}
ul li{
	display: inline-block;
	float: left; 
}
li a{
	color: white;
	font-size: 14px;
	padding: 8px;
	display: block;
	border-top: 5px solid transparent;
}
.activo, li a:hover{/*hover efecto puntero*/
	font-weight: bold;
	border-top: 5px solid #54d154;
	color: #fff;
	text-decoration: none;
}
.buscador{
	background: rgba(217,216,216, 0.85);/*rgba es para transparencia*/
	border: none;/*quitar el border*/
	border-radius: 15px; /* para hacerlo mas circular en las puntas*/
	height: 27px;
	padding: 7px 14px;/* 7px es e;l top y el 14 es derecha izq*/
	font-size: 16px;
	color: #111111;/*color dentro del buscador*/
    width: 100%;
    margin-top: 5px;
}
#center-header{
	height: 565px; /* si tiene un border tengo que respetarle el tamño y restarle el tamaño del padding al; header*/
}
#centradito{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#centradito h1{
	color: #fff;
	font-weight: bold;
	font-size: 55px;
}
#centradito a{
	background: #54d154;
	color: #fff;
	text-align: center;
	display: block;
	width: 205px;
	height: 49px;
	border-radius: 30px;
	padding: 9px 0;
	font-weight: normal;
	font-size: 21px;
	transition: 0.5s ease all;
}
#centradito a:hover{
	text-decoration: none;
	background: #f34d04;
	transform: scale(1.05);
}
#scrollcentradito{
	display: flex;
	justify-content: center;		
}
#scrollcentradito a{
	background: rgba(217,216,216, 0.85);/*rgba es para transparencia*/
	border: none;/*quitar el border*/
	color: #000;
	height: 25px;
	width: 122px;
	text-align: center;
	border-radius: 20px;
	font-size: 15px;

}
#scrollcentradito a:hover{
	text-decoration: none;
	color: #fff;
}
#center-section{
	display: flex;
	justify-content: center;
	width: 100%;
}
.font-section{
	font-size: 20px;
	color: #828181;
	margin-top: 5%;
}
.line{
	justify-content: center;
	width: 43px;
	border-bottom:  2px  solid #828181;
	float: center;
}
.font-section2{
	font-size: 15px;
	color: #b7b3b3;
	margin-top: 1%;
	align-items: center;
}


/* Investigar como añadir fuentes con google fonts
en el head agrego: 
<style>
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree|Charmonman');
</style>
y en mi pagina de estilo :
font-family: 'Charmonman', cursive;
*/

/* Añadir iconos con font awesome*/
/*hacer el scrolldown-encabezado de la otra clase*/