
header{
	background:url("img/bgheader.jpg") ;
	height: 659px;
	background-repeat: no-repeat;
	background-size: cover;
}
body{
	font-family: 'Montserrat', sans-serif;
}
ul{
	width: 100%;
	height: 40px;
	display: block;
}
.fa-home:before {
    content: "\f015"
}
.boton{
	display: inline-block;
	text-align:left;
	float: left;
	margin-right: 26px;
}
.boton a{
	padding: 10px 0;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #fff;
}
ul li{
	display: inline-block;
	float: left; 
}
li a{
	color: white;
	font-size: 14px;
	padding: 8px;
	display: block;
	border-top: 5px solid transparent;
}
.activo, li a:hover{/*hover efecto puntero*/
	font-weight: bold;
	border-top: 5px solid #54d154;
	color: #fff;
	text-decoration: none;
}
.buscador{
	background: rgba(217,216,216, 0.85);/*rgba es para transparencia*/
	border: none;/*quitar el border*/
	border-radius: 15px; /* para hacerlo mas circular en las puntas*/
	height: 27px;
	padding: 3px 7px;/* 3px es el top y el 7 es derecha izq*/
	font-size: 16px;
	color: #111111;/*color dentro del buscador*/
    width: 100%;
    margin-top: 5px;
}
.buscador1{
	background: rgba(217,216,216, 0);/*rgba es para transparencia*/
	border: none;/*quitar el border*/
	height: 100%;
	font-size: 16px;
	color: #111111;/*color dentro del buscador*/
    width: 88%;
}
.lupa{
	color: #555;
}
#center-header{
	height: 560px; /* si tiene un border tengo que respetarle el tam単o y restarle el tama単o del padding al; header*/
}
.centradito2, #scrollcentradito, #centradito{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
}
#centradito h1{
	color: #fff;
	font-weight: bold;
	font-size: 55px;
}
#centradito a{
	background: #54d154;
	color: #fff;
	text-align: center;
	display: block;
	width: 205px;
	height: 49px;
	border-radius: 30px;
	padding: 9px 0;
	font-weight: normal;
	font-size: 21px;
	transition: 0.5s ease all;
}
#centradito a:hover{
	text-decoration: none;
	background: #f34d04;
	transform: scale(1.05);
}
.centradito3, .centradito2{
 	background: #2b9b2b;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 190px;
	height: 41px;
	border-radius: 20px;
	margin-top: 6px;
	padding: 9px 0;
	font-weight: normal;
	font-size: 16px;
	transition: 0.5s ease all;	
 }
.centradito2:hover{
 	text-decoration: none;
	background: #f34d04;
	transform: scale(1.05);
	color: #fff;
	text-decoration: none;
 }
 .centradito3{
 	background: #dddcdc;
	color: #a9a2a2;
	margin-bottom: 30px;
	padding-top: 10px;
	text-decoration: none;
	width: 160px;
 }
 .centradito3:hover{
 	text-decoration: none;
	background: #828181;
	transform: scale(1.05);
	color: #fff;
	text-decoration: none;
 }
 .arrow{
 	align-items: right;
 }
#centradito1{
	background: #2b9b2b;
	color: #fff;
	text-align: center;
	display: block;
	width: 205px;
	height: 49px;
	border-radius: 30px;
	padding: 9px 0;
	font-weight: normal;
	font-size: 21px;
	transition: 0.5s ease all;
}
#centradito1 a:hover{
	text-decoration: none;
	background: #f34d04;
	transform: scale(1.05);
}
#scrollcentradito a{
	background: rgba(217,216,216, 0.85);/*rgba es para transparencia*/
	border: none;/*quitar el border*/
	color: #000;
	height: 25px;
	width: 122px;
	text-align: center;
	border-radius: 20px;
	font-size: 15px;
	padding: 1px 0px;
	transition: 0.10s ease all;
}
#scrollcentradito a:hover{
	text-decoration: none;
	background: rgba(168,165,165, 0.85);/*rgba es para transparencia*/
	transform: scale(1.05);
}
#center-section{
	display: flex;
	justify-content: center;
	width: 100%;
}
.font-section{
	font-size: 20px;
	color: #828181;
	margin-top: 42px;
	font-weight: lighter;
}

.line2, .line{
	justify-content: center;
	width: 43px;
	border-bottom:  2px  solid #828181;
	margin: auto;
}
.font-section2{
	font-size: 15px;
	color: #b7b3b3;
	margin-top: 1%;
	align-items: center;
}
.height{
	height: 46px;
}
.picture{
	background: #e1f3e1;
	width: 143px;
	height: 143px;
	border-radius: 30px;
	justify-content: center;
	display: flex; 
}
.color{
	color: #54d154;
	justify-content: center;
	display: flex;
	float: center;
	margin-top: 28px;
}
.fontlorem1{
	font-size: 20px;
	font-weight: bold;
	margin-top: 26px;
	color: #828181;
	text-align: left;
}
.fontlorem2{
	display: flex;
    flex-direction: column;
    align-items: center;
	font-size: 15px;
	font-weight: lighter;
	margin-top: 18px;
	color: #828181;
	text-align: center;
	width: 80%;
	height: 40%;
}
#learnmore{
	background: #54d154;
	width: 120px;
	height: 28px;
	border-radius: 20px;
	margin-top: 27px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding:4px 0px;
	text-decoration: none;
	text-align: center;
	margin-bottom: 72px;
}
#learnmore:hover{
	text-decoration: none;
	background: #f34d04;
	transform: scale(1.05);
}
#center{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#color_section{
	background: #54d154; 
}
.font-section-2{
	text-align: center;
	font-size: 20px;
	color: #207b20;
	margin-top: 42px;
}
.line2{
	border-bottom:  2px  solid #207b20;
	margin-top: 12px;
}
.line7{
	border-bottom:  2px  solid #111111;
	width: 38px;
	margin: auto;
}
.font-section3, .font-section4{
	font-size: 15px;
	color: #207b20;
	margin-top: 1%;
	align-items: center;
}
.font-section4{
	color: black;
}
.nav{
	width: 320px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #2b9b2b;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 7px;
 }
 .nav-pills .nav-link, .nav-pills .show>.nav-link {
    color: #2b9b2b;
    background-color: #fff;
    height: 33px;
    border-radius: 0px;
    border-right: 1px solid;
    padding-top: 7px;
 }
 .nav-link1{
 	color: #2b9b2b;
 	background-color: #fff;
 	text-decoration: none;
 	padding-top: 7px;
 	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#photography{
	width: 60px;
	border-top: 1px solid #2b9b2b;
	border-bottom: 1px solid #2b9b2b;
	border-left: 1px solid #2b9b2b;
	border-right: 1px solid #2b9b2b;
}
#photography:hover{
	text-decoration: none;
	color: black;
	transform: scale(1.05);
}
#design{
	width: 10px;
	border-top: 1px solid #2b9b2b;
	border-bottom: 1px solid #2b9b2b;
	border-left: 1px solid #2b9b2b;
	border-right: 1px solid #2b9b2b;
}
#design:hover{
	text-decoration: none;
	color: black;
	transform: scale(1.05);
}
#print{
	width: 5px;
	border-top: 1px solid #2b9b2b;
	border-bottom: 1px solid #2b9b2b;
	border-right: 1px solid #2b9b2b;
}
#print:hover{
	text-decoration: none;
	color: black;
	border-left: 1px solid #2b9b2b;
	transform: scale(1.05);
}
 .padding{
 	margin-top: 50px;
 	padding-bottom: 24px;
 }
 .padding1{
 	margin-top: 28px;
 }
 .padding2{
 	padding-bottom: 34px;
 }
.carousel-item {
  height: 180px;
  background: no-repeat center center scroll;
}
.carousel-item active{
	height: 180px;
	background: #e0dfdf;
	margin-top: 0px;
}
.carousel-caption{
	color: #575757;
	margin-top: 0px;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
	background-color: #000; 
	margin-bottom: 70px;
}
.carrusel{
	display: flex;
	justify-content: center;
	align-items: center;
}
.color_section4{
	background-color: #f2f1f1;
	padding: 0px;
}
.logo{
	margin-right: 30px;
}
.line3{ 
width:1px;
height:80px; 
border-right:2px solid #217b23; 
margin: 10px auto;
}
.name{
	font-weight: normal;
	color: #fff;
	text-align: center;
}
.Fbotonpicture{
	background-color: #c5e9c5;
	border-radius: 20px;
	width: 84px;
	display: block;
	margin: auto;
}
.botonpicture{
	padding: 4px;
}
#color_section5{
	background-color: #3eba3e;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;
}
#color_section3{
	background-color: #fff;
	padding-left: 0px;
	padding-right: 0px;
}
.autor_testimonial{
	display: flex;
	align-items: center;
}

.derecho_autor h3{
	color: #444;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
}
.derecho_autor h4{
	color: #ccc;
	font-size: 16px;
	font-weight: 400;
}
.slick-prev:before, .slick-next:before{
	color: #444;
}
.img_nosotros{
	display: block;
	margin: auto;
}
#color_section6{
	background-color: #333333;
	padding-right: 0px;
	padding-left: 0px;
	padding: auto;
	color: #aeaeae;
	text-align: center;
	padding-bottom: 55px;
}
.about_us{
	display: block;
	margin-top: 28px;
}
.P1, .P2, .P3, .P4, .P5{
	background:url("img/P1.jpg");
	height: 52px;
	width: 51px;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin-bottom: 11px;
}
.P2{
	background:url("img/P2.jpg");
}
.P3{
	background:url("img/P3.jpg");
}
.P4{
	background:url("img/P4.jpg");
}
.P5{
	background:url("img/P5.jpg");
}
.magazine, .UI_design, .photography, .book{
	background-color: #54d154;
	color: #fff;
	width: 81px;
	height: 18px;
	font-size: 12px;
	border-radius: 3px;
	text-decoration: none;
}
.UI_design{
	background-color: #ffba00;
	width: 77px;
}
.photography{
	background-color: #089be9;
	width: 107px;
}
.book{
	background-color: #f34d04;
	width: 47px;
}
.UI_design:hover{
	text-decoration: none;
	transform: scale(1.05);
	color: black;
}
.photography:hover{
	text-decoration: none;
	transform: scale(1.05);
	color: black;
}
.magazine:hover{
	text-decoration: none;
	transform: scale(1.05);
	color: black;
}
.book:hover{
	text-decoration: none;
	transform: scale(1.05);
	color: black;
}
.inline{
	display: inline-flex;
}
.inline2{
	display: inline-block;
	margin-left: 7px;
	margin-top: none;
}
.data{
	font-size: 12px;
}
.form, .form1, .form2, .form3{
	background: rgba(68,68,68, 0.85);/*rgba es para transparencia*/
	border: none;/*quitar el border*/
	border-top-right-radius: 3px; /* para hacerlo mas circular en las puntas*/
	border-top-left-radius: 3px;
	height: 32px;
	font-size: 14px;
	color: #aeaeae;/*color dentro del buscador*/
    width: 323px;
    margin-top: 5px;
}
.form1, .form2, .form3{
	border-top-right-radius: 0px; /* para hacerlo mas circular en las puntas*/
	border-top-left-radius: 0px;
}
.form3{
	height: 130px;
}
.form2{
	background: rgba(43,155,43, 0.85);/*rgba es para transparencia*/
	border-bottom-right-radius: 3px; /* para hacerlo mas circular en las puntas*/
	border-bottom-left-radius: 3px;
	font-size: 16px;
}
.form2:hover{
	background: #f34d04;
}
.font, .font7, .font1{
	font-size: 14px;
	margin-bottom: 1px;
}
.font1{
	font-size: 16px;
}

#color_section7{
	display: block;
	margin: auto;
	background-color: #222222;
	color: #111;
	font-size: 10px;
	padding-bottom: 20px;
}
.font7{
	font-size: 20px;
}
footer{
	background-color: #111;
	color: #fff;
	height: 34px;
	font-size: 13px;	    
}
footer p{
	margin-top: 8px;
}
.alinear{
	display: inline-block;
}
/* Investigar como a単adir fuentes con google fonts
en el head agrego: 
<style>
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree|Charmonman');
</style>
y en mi pagina de estilo :
font-family: 'Charmonman', cursive;
*/

/* A単adir iconos con font awesome*/
/*hacer el scrolldown-encabezado de la otra clase*/
/*line-height  multiplicar el font size por el valor, y crea el interlineado
margin: auto ya se centra en el medio de la imagen*/
